<div style="width: 400px; margin: auto">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="full_name">Nombre Completo</label>
        <input
          type="text"
          class="form-control"
          id="full_name"
          required
          [(ngModel)]="ficha.full_name"
          name="full_name"
          #full_name="ngModel"
        />
        <div
          *ngIf="full_name.invalid && (full_name.dirty || full_name.touched)"
          class="alert alert-danger"
        >
          El nombre es requerido
        </div>
      </div>

      <div class="form-group">
        <label for="enter_name">Nombre de la Empresa</label>
        <input
          type="text"
          class="form-control"
          id="enter_name"
          required
          [(ngModel)]="ficha.enter_name"
          name="enter_name"
          #enter_name="ngModel"
        />
        <div
          *ngIf="enter_name.invalid && (enter_name.dirty || enter_name.touched)"
          class="alert alert-danger"
        >
          El Nombre de la Empresa es requerido
        </div>
      </div>

      <div class="form-group">
        <label for="email">Correo Electronico</label>
        <input
          type="email"
          class="form-control"
          id="email"
          required
          [(ngModel)]="ficha.email"
          name="email"
          #email="ngModel"
        />
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="alert alert-danger"
        >
          El Correo es requerido
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <label for="pnumber">Telefono</label>
          <input
            type="text"
            class="form-control"
            id="pnumber"
            required
            [(ngModel)]="ficha.pnumber"
            name="pnumber"
            #pnumber="ngModel"
          />
          <div
            *ngIf="pnumber.invalid && (pnumber.dirty || pnumber.touched)"
            class="alert alert-danger"
          >
            El Telefono es requerido
          </div>
        </div>

        <div class="form-group col">
          <label for="category">Categoria</label>
          <select
            [(ngModel)]="ficha.category"
            class="form-control"
            id="category"
            required
            name="category"
            #category="ngModel"
          >
            <option value=""></option>
            <option value="Facturación">Facturación</option>
            <option value="Soporte Técnico">Soporte Técnico</option>
            <option value="Ventas">Ventas</option>
            <option value="Información General">Información General</option>
          </select>
          <div
            *ngIf="category.invalid && (category.dirty || category.touched)"
            class="alert alert-danger"
          >
            Selecciona una Categoria
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="note">Mensasje</label>
        <input
          type="textarea"
          class="form-control"
          id="note"
          required
          [(ngModel)]="ficha.note"
          name="note"
          #note="ngModel"
        />
        <div
          *ngIf="note.invalid && (note.dirty || note.touched)"
          class="alert alert-danger"
        >
          Ingresa tu peticion
        </div>
      </div>

      <button (click)="saveFicha()" class="btn btn-success"><i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar</button>
    </div>

    <div *ngIf="submitted">
      <h4>Has creado la ficha!</h4>
      <button class="btn btn-success" (click)="newFicha()">Nueva Ficha</button>
    </div>
  </div>
</div>
