<div style="width: 400px; margin: auto;">
  <div *ngIf="currentFicha" class="edit-form">
    <h4>Ficha</h4>
    <form>
      <div class="form-group">
        <label for="full_name">Nombre Completo</label>
        <input
          type="text"
          class="form-control"
          id="full_name"
          [(ngModel)]="currentFicha.full_name"
          name="full_name"
        />
      </div>
      <div class="form-group">
        <label for="enter_name">Nombre de la Empresa</label>
        <input
          type="text"
          class="form-control"
          id="enter_name"
          [(ngModel)]="currentFicha.enter_name"
          name="enter_name"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          [(ngModel)]="currentFicha.email"
          name="email"
        />
      </div>
      <div class="form-group">
        <label for="pnumber">Telefono</label>
        <input
          type="text"
          class="form-control"
          id="pnumber"
          [(ngModel)]="currentFicha.pnumber"
          name="pnumber"
        />
      </div>
      <div class="form-group">
        <label for="category">Categoria</label>
        <input
          type="text"
          class="form-control"
          id="category"
          [(ngModel)]="currentFicha.category"
          name="category"
        />
      </div>
      <div class="form-group">
        <label for="note">Mensaje</label>
        <input
          type="text"
          class="form-control"
          id="note"
          [(ngModel)]="currentFicha.note"
          name="note"
        />
      </div>
      <div class="form-group">
        <label><strong>Estatus:</strong></label>
        {{ currentFicha.completed ? "Atendida" : "Pendiente" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentFicha.completed"
      (click)="updateCompleted(false)"
    >
    <i class="fa fa-square-o" aria-hidden="true"></i> Pendiente
    </button>
    <button
      class="badge badge-primary mr-2"
      *ngIf="!currentFicha.completed"
      (click)="updateCompleted(true)"
    >
    <i class="fa fa-check-square-o" aria-hidden="true"></i> Atendida
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteFicha()">
      <i class="fa fa-trash" aria-hidden="true"></i>  Eliminar
    </button>

    <button
      type="submit"
      class="badge badge-success"
      (click)="updateFicha()"
    >
    <i class="fa fa-save" aria-hidden="true"></i>   Actualizar
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentFicha">
    <br />
    <p>No se puede acceder a esta ficha...</p>
  </div>
</div>
