<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar por Titulo"
        [(ngModel)]="full_name"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchFull_Name()"
        >
        <i class="fa fa-search" aria-hidden="true"></i> Buscar
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h4>Lista de Fichas</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ficha of fichas; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveFicha(ficha, i)"
      >
        {{ ficha.full_name }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllFichas()">
      <i class="fa fa-trash" aria-hidden="true"></i>  Eliminar Todas
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentFicha">
      <h4>Ficha</h4>
      <div>
        <label><strong>Nombre Completo:</strong></label>
        {{ currentFicha.full_name }}
      </div>
      <div>
        <label><strong>Nombre de la Empresa:</strong></label>
        {{ currentFicha.enter_name }}
      </div>
      <div>
        <label><strong>Correo Electronico:</strong></label>
        {{ currentFicha.email }}
      </div>
      <div>
        <label><strong>Telefono:</strong></label> {{ currentFicha.pnumber }}
      </div>
      <div>
        <label><strong>Categoria:</strong></label> {{ currentFicha.category }}
      </div>
      <div>
        <label><strong>Mensaje:</strong></label> {{ currentFicha.note }}
      </div>
      <div>
        <label><strong>Estatus:</strong></label>
        {{ currentFicha.completed ? "Atendida" : "Pendiente" }}
      </div>

      <a class="badge badge-warning" routerLink="/fichas/{{ currentFicha.id }}">
        <i class="fa fa-pencil" aria-hidden="true"></i>  Editar
      </a>
    </div>

    <div *ngIf="!currentFicha">
      <br />
      <p>Por favor da click en una Ficha...</p>
    </div>
  </div>
</div>
